header{
    background-color: lightgrey;
    padding:1%;
    
}

.heading{
    font-family: 'Montez', cursive;   
    color: blue; 
    font-size: xx-large;
}

.subheading{
    font-family: 'Ubuntu Mono', monospace;
}

.header-btn{
    background-color: blue;
    color: white;
    padding: 15px;
    border: 0;
    margin-right: 20px
}
.upper-head{
    display: flex;
    justify-content: space-between
}
html {
    background-image: url("../images/background.jpg");
    min-height: 100%;   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
 }
 form {
     display: flex;
     flex-direction: column;
     justify-content: center;
 }
 input {
     padding: 2%;
 }
 label {
     font-size: 18px;    
     margin: 10px 0;
     font-family: Arial, Helvetica, sans-serif;
 }
 .modal-title{
     color: grey;
     font-weight: normal;
     font-family: Arial, Helvetica, sans-serif;
 }
 /* The Modal (background) */
 .modal {
     /* overflow: hidden; */
     display: none; /* Hidden by default */
     position: fixed; /* Stay in place */
     z-index: 1; /* Sit on top */
     left: 0;
     top: 0;
     width: 100%; /* Full width */
     height: 100%; /* Full height */
     overflow: auto; /* Enable scroll if needed */
     background-color: rgb(0,0,0); /* Fallback color */
     background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   }
   
   /* Modal Content/Box */
 .modal-content {
     background-color: #fefefe;
     margin: 15% auto; /* 15% from the top and centered */
     padding: 20px;
     border: 1px solid #888;
     width: 30%; /* Could be more or less, depending on screen size */
   }
   
   /* The Close Button */
 .close {
     color: #aaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
   }
   
 .close:hover,
 .close:focus {
     color: black;
     text-decoration: none;
     cursor: pointer;
   }
 
 .submit-btn {
     background-color: #00800091;
     color: #fff;
     padding: 2%;
     font-size: 22px;
     margin-top: 10px;
     border: 0;
     cursor: pointer;
     width: 100%
 }
 .not-member{
    text-align: center;
    
    font-weight: bold;
 }
 .not-member-signIn{
    color: blue;
    cursor: pointer;
}
